variable "resource_group_name" {
  default = "your-rg"
}

variable "location01" {
  default = "japaneast"
}

variable "location02" {
  default = "japanwest"
}

variable "jumpbox_name_label" {
  default = "your-label"
}

variable "admin_username" {
  default = "your-name"
}
