variable "resource_group_name" {
  default = "your-demo-vmss"
}

variable "location" {
  default = "francecentral"
}

variable "scaleset_name" {
  default = "yourvmss01"
}

variable "jumpbox_name_label" {
  default = "your-jb-label"
}

variable "admin_username" {
  default = "yourname"
}
